.contact-section {
    color: #000;
    width: 100%;
    height: 300px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.contact-section .title{
    font-size: 34px; /* Slightly larger font size */
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px; /* Increase padding for spacing */
    color: var(--color-blue); /* Use a primary color */
    font-weight: 700; /* Bold text */
    letter-spacing: 2px; /* Add more letter spacing */
    text-align: center; /* Center the text */
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-bottom: 50px;
}

.contact-section .downlodeBTN {
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-weight: 600;
    background-color: var(--color-Lblue);
    height: 42px;
    width: 200px;
    border: 2px solid rgb(86, 88, 226);
    border-radius: 20px;
}
.contact-section .downlodeBTN:hover{
    background-color: var(--color-bg);

}
@media screen and (max-width: 420px) {

    .contact-section .title{
        font-size: 30px;
        margin: 0 20px 100px 20px;
    }

}